.dotSection {
  display: flex;
  justify-content: end;
  padding-top: 2%;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 1%;
}
.descriptionButtonSection {
  display: flex;
  justify-content: end;
  padding-top: 1%;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.descriptionButton {
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  box-shadow: 1px 1px 30px #b6b6b67c;
}
.scalingText {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
.scalingText:hover {
  transform: scale(0.95);
} 
.activeDot {
  height: 15px;
  width: 15px;
  background-color: rgb(0, 0, 0);
  box-shadow:
    20px 20px 60px #958282,
    -20px -20px 60px #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  display: inline-block;
  margin-right: 10px;
}

.pageGrid {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
}

.individualPage {
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.container {
  padding: 0 !important;
  overflow: hidden;
  border-radius: 25px;
}

.educationComponent {
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px #706f6f7c inset;
  height: 100%;
  padding: 0% !important;
  overflow: hidden;
}
