.descriptionButtonSection {
  display: flex;
  justify-content: end;
  padding-top: 1%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.descriptionButton {
  justify-content: center;
  align-items: center;
  margin-right: 1%;
  box-shadow: 1px 1px 30px #b6b6b67c;
}

.scalingText {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.scalingText:hover {
  transform: scale(0.95);
}

.pageGrid {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.individualPage {
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.experienceComponent {
  border-radius: 25px;
  background: #ffffff;
  box-shadow: 1px 1px 10px 1px #706f6f7c inset;
  height: 100%;
  padding: 0% !important;
  overflow: hidden;
}
