

.general{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border: 10px solid #0000;
    box-sizing: border-box;
    /* margin-bottom: 10px; */
    padding-top: 20px;
    border: 2px solid rgb(132, 130, 130);
    
}

.custom-button{
    background-color: #ffffff; /* Green background */
    color: rgb(0, 0, 0); /* White text */
    border: 1px solid black; /* Remove border */
    padding: 10px 20px; /* Add padding */
    font-size: 16px; /* Font size */
    border-radius: 45px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
  }
  .custom-button:hover{
    background-color: #000000; /* Green background */
    color: rgb(255, 255, 255); /* White text */
    border: 1px solid rgb(255, 255, 255); /* Remove border */
  }