.home{
    justify-content: center;
    align-items: center;
    display: flex;
}
.hero-section{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding : 10px 60px;
    
}

.intro{
    align-items: center;
}
.first-line{
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
.name{
    font-weight: bolder;
    font-size: larger;
    line-height: 0.1;
    animation: colorChange 3s infinite; /* Add animation */
}
@keyframes colorChange {
    0% {
        color: rgb(255, 0, 0);
    }
    33% {
        color: rgb(10, 122, 0);
    }
    66% {
        color: rgb(92, 182, 255);
    }
    100% {
        color: rgb(255, 0, 4); /* Loop back to the initial color */
    }
}
.profile-image{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0px 0px  50px rgb(109, 109, 109) ;
    border: solid white 10px;
}

.image{
    
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
}

.image:hover {
    transform: scale(1.05); 
}