
.title-text{
  font-size: 25px;
}

nav {
  margin: 30px;
  position: fixed; 
  right: 0px;
  top: 10px; 
  color: rgb(0, 0, 0); 
  padding: 0px px;
  z-index: 1000; 
  display: flex;
  justify-content: flex-end;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.162), rgb(255, 255, 255)); /* Gradient from transparent to opaque */
  border-radius: 25px;
  box-shadow: 0px 0px 100px ;
}

nav a {
  color: rgb(39, 39, 39);              
  text-decoration: none;     
  margin: 0 15px;            
  font-size: 18px; 
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease, color 0.3s ease;
}

nav a:hover {
  transform: scale(1.1); 
  color: rgb(56, 55, 55);
}
 
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

Element{
  border: 2px solid red;
}

.active-link{
  color: rgb(255, 255, 255);
  border-radius: 25px;
  display: inline-flex;  
  font-weight: bold;
  align-items: center; 
  justify-content: center;
  background-color: black;
  transition: all 0.3s ease-in; 
  height: 100%; 
  padding: 0px 15px; 
  margin: 0px;
} 